.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.chart-bar__fill {
  background-color: #ffffff;
  width: 100%;

  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.85rem;
  color: white;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}
